body {
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.card {
    border: 3px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: azure;
    margin-bottom: 10px;
    max-height: 1200px;
    overflow: scroll;
}
.sub-card {
    margin-top: 10px;
    border: 1px solid #eee;
    background-color:white;
    padding: 10px;
    color: black;
    text-align: left;
}

textarea {
    font-family: Monaco, Arial;
    font-size: 13px;
    background-color: black;
    color: azure;
    border-radius: 10px;
}

#jsoneditor {
    height: 100%;
    max-height: 100%;
    overflow: scroll;
}

.editor-container {
    flex: 1;
    display: flex;
}

#editor-xml,
#editor-json {
    flex: 1;
    height: 600px;
    border: 1px solid #ddd;
}

#filter-input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
h4 {
    border: 1px solid #99ccff;
    width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color:lightcyan;

}
pre {
    background-color: antiquewhite;
    border: 1px solid #99ccff;
    border-radius: 8px;

}

