
@keyframes left-ear-shuffle {
  3% {
    transform: scale(1, 0.85);
  }
  6% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1, 0.95);
  }
  13% {
    transform: scale(1, 1);
  }
}

@keyframes right-ear-shuffle {
  3% {
    transform: scale(1.01, 0.85);
  }
  6% {
    transform: scale(1, 1);
  }
  13% {
    transform: scale(1.03, 0.95);
  }
  19% {
    transform: scale(1, 1);
  }
}

@keyframes arm-wave {
  25% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(7deg);
  }
}

@keyframes blink {
  5% {
    transform: scale(1.2, 0.1);
  }
  10% {
    transform: scale(1, 1);
  }
}

@keyframes tail-move {
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}

.left-ear {
  animation: left-ear-shuffle 3s infinite;
  transform-origin: 194px 52px;
}

.right-ear {
  animation: right-ear-shuffle 2s infinite 1.4s;
  transform-origin: 366px 66px;
}

.arm-wave {
  animation: arm-wave 0.5s infinite linear;
  transform-origin: 180px 307px;
}

.left-eye {
  animation: blink 2s infinite;
  transform-origin: 230.7px 201.1px;
}

.right-eye {
  animation: blink 2s infinite;
  transform-origin: 323px 207px;
}

.tail {
  animation: tail-move 2s infinite linear;
  transform-origin: 155px 347px;
}

.st0 {
  fill: #735d4f;
}

.st1 {
  fill: #7e6454;
}

.st2 {
  fill: #8d735e;
}

.st3 {
  fill: #d0b089;
}

.st4 {
  fill: #232222;
}

.st5 {
  fill: url(#SVGID_1_);
}

.st6 {
  fill: url(#SVGID_2_);
}

.st7 {
  fill: #9e9f9f;
}

.st8 {
  fill: #805c32;
}
