/* df.css */

#container {
    width: 100%;
    height: 800px;
    border-radius: 8px;
  }

  textarea {
    height: 170px;
    padding: 10px;
    background-color: black;
    color:white;
    font-family: Monaco;
    font-size: smaller;
  }

  .monaco-editor .glyph-margin {
    background-color: #f5f7fa;
  }