body,
html {
  padding: 0;
  margin: 0;
  height: calc(100vh - 2em);
}

body {
  min-height: 75rem;
  padding-top: 3.5rem;
}
#container {
  height: 90%;
  width: 100%;
  box-sizing: border-box;
}

.actions {
  height: 2em;
  display: flex;
  align-items: center;
  border-top: 1px solid #aaa;
  padding: 0.2em;
  box-sizing: border-box;
}

label {
  padding-right: 0.3em;
}

textarea {
  font-family: Monaco, Arial;
  padding: 10px;
  background-color: black;
  color: wheat;
  border-radius: 10px;
}
