/* app.css */

textarea {
    font-family: Monaco, Arial;
    font-size: 13px;
    background-color: black;
    color: azure;
    border-radius: 10px;
}

ul.list-group.list-group-striped li:nth-of-type(odd) {
    background: #dedeed;
    opacity: .8;
}

ul.list-group.list-group-striped li:nth-of-type(even) {
    background: white;
}

ul.list-group.list-group-hover li:hover {
    background: linen;
}
label {
    font-weight: bold;
}